<footer class="site-footer">
  <div class="wrapper">
  <p class="site-footer__text">&copy; <span role="img" aria-label="{{ build.buildYear }}" >{{ build.buildYearRoman }}</span> - Ash Village Hall Committee</p>
  </div>
</footer>