<header class="site-header">
  <a class="skip-link" href="#main">
      Skip to content
    </a>
  <div class="navbar wrapper">
    <div class="site-header__logo"><img src="img/avh-logo.png" width="80" height="80" alt="Ash Village Hall" class="site-header__logoi" /></div>
    <nav class="primary-nav">
      <ul class="primary-nav__menu">
        {% for item in menu %}
        {% if not item.disable %}
        <li><a href="{{item.url}}">{{item.label}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    {# {% include '_covid.njk' %} #}
    <button class="primary-nav__hamburger" on="tap:sidebar1.toggle">&#9776;</button>
    </nav>
  </div>
</header>