<header class="site-header">
  <div class="wrapper">
    <h1 class="site-header__brand"><svg width="64" height="64" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect x="0" y="0" width="23.04" height="23.04" style="fill:#06799f;"/><g transform="matrix(0.213395,0,0,0.213395,-2.74849,2.23696)"><text x="38.609px" y="22.693px" style="font-family:'Roboto-Bold', 'Roboto';font-weight:700;font-size:33.333px;fill:#fff400;">Ash</text><text x="16.14px" y="56.026px" style="font-family:'Roboto-Bold', 'Roboto';font-weight:700;font-size:33.333px;fill:#fff400;">Village</text><text x="37.624px" y="89.359px" style="font-family:'Roboto-Bold', 'Roboto';font-weight:700;font-size:33.333px;fill:#fff400;">Hall</text></g></svg></h1>
  </div>
</header>