.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  border: solid 2px $blackColor;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include atSmall {
    flex-direction: row;
  }

  &__day {
    background-color: $secondaryDark;
    color: $whiteColor;
    padding: 1em;
    text-align: center;
  }

  &__img {
    width: 100%;
  }
}
