@use "../base/mixins";
@use "../base/variables";

.large-hero {
  position: relative;
  &__img {
    opacity: 1;
  }
  &__headline {
    bottom: 0;
    color: variables.$primaryDark;
    font-size: 2em;
    margin: 0;
    padding-bottom: 1.5em;
    padding-right: 20px;
    position: absolute;
    right: 0;
    text-shadow: 2px 2px 4px white;
    @include mixins.atSmall {
      font-size: 3em;
    }
  }
  &__sub {
    bottom: 0;
    color: variables.$secondaryLight;
    font-size: 1em;
    margin: 0;
    padding-bottom: 0.5em;
    padding-right: 20px;
    position: absolute;
    right: 0;
    text-align: right;
    text-shadow: 2px 2px 2px black;
    @include mixins.atSmall {
      font-size: 1.5em;
      padding-bottom: 1em;
    }
  }
}
