@use "../base/mixins";
@use "../base/variables";

.primary-nav {
  align-items: center;
  display: flex;
  .primary-nav__menu {
    display: none;
    list-style: none;
    @include mixins.atLarge {
      display: flex;
    }
  }
  li {
    background-color: rgba(variables.$whiteColor, 0.75);
    border-radius: 0.25em;
    box-shadow: 0.1em 0.1em rgba(variables.$blackColor, 0.15);
    color: variables.$secondaryDark;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
  }
  a {
    color: inherit;
    padding: 0.25em 0.5em;
  }

  &__hamburger {
    background: none;
    border: none;
    font-size: 2em;
    margin: 0 0.25em;
    padding-bottom: 0.25em;
    @include mixins.atMedium {
      font-size: 3em;
      margin: 0 0.5em;
    }

    @include mixins.atLarge {
      display: none;
    }
  }
}
