.primary-nav {
  display: flex;
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    color: $secondaryDark;
    background-color: rgba($whiteColor, 0.75);
    border-radius: 0.25em;
    box-shadow: 0.1em 0.1em rgba($blackColor, 0.15);
  }
  a {
    padding: 0.25em 0.5em;
    color: inherit;
  }
}
