.row {
  margin: 1em 0;
  display: grid;
  align-items: center;
  font-size: 1.2rem;
  @include atMedium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &__col {
    padding: 0 0.5em;
    @include atMedium {
      padding: 0 2em;
    }
  }
  &__img {
    margin: 0 2em;
  }
}
