@use "../base/variables";

#sidebar1 {
  background: variables.$tertiaryDark;
  background: linear-gradient(variables.$tertiaryDark 20%, variables.$tertiaryColor 80%);
  text-align: right;
  width: 100%;

  .close {
    background: none;
    border: none;
    font-size: 2em;
    margin: 0 0.2em;
    padding: 0.5em;
  }

  ul {
    background: variables.$tertiaryColor;
    background: linear-gradient(variables.$tertiaryLight, variables.$tertiaryColor);
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 2px solid variables.$tertiaryDark;
    color: variables.$secondaryDark;
    text-align: center;
    padding: 1em;

    a {
      color: inherit;
      padding: 1em 2em;
    }
  }
}
