#sidebar1 {
  background: $tertiaryDark;
  background: linear-gradient($tertiaryDark 20%, $tertiaryColor 80%);
  text-align: right;
  width: 100%;

  .close {
    background: none;
    border: none;
    font-size: 2em;
    margin: 0 0.2em;
    padding: 0.5em;
  }

  ul {
    background: $tertiaryColor;
    background: linear-gradient($tertiaryLight, $tertiaryColor);
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 2px solid $tertiaryDark;
    color: $secondaryDark;
    text-align: center;
    padding: 1em;

    a {
      color: inherit;
      padding: 1em 2em;
    }
  }
}
