@use "../base/variables";

.site-footer {
  background: variables.$tertiaryColor; /* Old browsers */
  background: linear-gradient(variables.$tertiaryColor, variables.$tertiaryLight);

  &__text {
    font-size: 1.2rem;
    padding: 1em;
    text-align: center;
  }
}
