$bgColor: #e0e0e0;
$primaryColor: #67e300;
$primaryDark: #439400;
$primaryLight: #a9f16c;
$secondaryColor: #06799f;
$secondaryDark: #024e68;
$secondaryLight: #61b4cf;
$tertiaryColor: #fff400;
$tertiaryDark: #a69e00;
$tertiaryLight: #fff973;
$whiteColor: #ffffff;
$blackColor: #000000;
