---
layout: layout.njk
pageTitle: Activities
---
<div class="page-section wrapper">
<div class="page-section__content">
<h1>Regular Activities</h1>
<p>Currently most regular activities have been suspended due to Covid-19. Check with your event organiser to find out when you will be able to return.</p>
</div>
</div>