---
layout: layout.njk
pageTitle: Activities
---
<div class="page-section wrapper">
<div class="page-section__content">
<h1>Regular Activities</h1>
<amp-layout layout="container" class="cards">
  <div class="card">
    <div class="card__day">Friday</div>
    <div class="card__img">
    <amp-img
      src="img/act-pilates.jpg"
      alt="Lady enjoying pilates"
      width="100"
      height="75"
      layout="responsive"
    ></amp-img>
    </div>
    <div class="card__activity">Pilates</div>
    <div class="card__summary">Classes are held every Friday morning at 9:30am. Come along for a free taster session.  All you need is a mat. </div>
    <div class="card__text"><p>One of the best things about pilates is that you can start at any age with any level of fitness so it really is for everyone &amp; if you are committed the progress can be seen &amp; felt very quickly.</p>
    <p>Pilates improves strength, flexibility, balance &amp; body awareness (posture). The exercises are designed in such a way that they provide support &amp; stability to the lower back. Particular emphasis is placed on core strength (abdominals). Why is strengthening your core so important?  Because these muscles help stabilise the pelvis, this is important as it helps ease back aches as well as hip, knee, neck &amp; shoulder tension.</p>
  </div>
</amp-layout>
{# <p>Currently most regular activities have been suspended due to Covid-19. Check with your event organiser to find out when you will be able to return.</p> #}
</div>
</div>