---
layout: layout.njk
pageTitle: Curzon Country Cinema
---
<div class="large-hero wrapper">
<amp-img src="img/curzon-hero.png" width="1600" height="300" layout="responsive" alt="Curzon Country Cinema" class="large-hero__img"></amp-img>
</div>
<div class="page-section wrapper">
<div class="page-section__content">
<h2>Replicating the cinema experience of a bygone era</h2>
<p>Curzon Country Cinema visits Ash Village Hall once a month, September to May; presenting a wide variety of films in a manner that replicates the way that visiting the cinema, in years gone by, used to be both a pleasurable and entertaining experience.</p>
<p>Tickets available online in advance or on the door. Bring a cushion.</p>
<a href="https://www.curzoncountrycinema.co.uk/">Learn More</a>
</div>
</div>