---
layout: layout.njk
pageTitle: For Hire
---
<div class="page-section wrapper">
<div class="page-section__content">
<h1>For Hire</h1>
<div class="row">
<div class="row__col row__lcol">
<amp-img
  src="img/stage-avh.jpg"
  alt="Ash Village Hall stage"
  width="400"
  height="400"
  layout="responsive"
  class="row__img"
></amp-img>
</div>
<div class="row__col row__rcol">
<p>Ash Village Hall is available for private hire for family gatherings etc. but not for teenage parties. For legal and safety reasons the entire site is a No Smoking site and the building does not have a Public Entertainment or licence to sell alcohol. Temporary Event Notice (TEN) for sale of alcohol on the premises must be obtained by the hirer from <a href="https://www.sevenoaks.gov.uk" target="_blank">Sevenoaks District Council Licensing Department</a>.</p>

<h3>Charges</h3>
<table class="table__charges">
  <thead>
  <tr>
    <th scope="col">&nbsp;</th>
    <th scope="col">Summer</th>
    <th scope="col">Winter</th>
  </tr>
    </thead>
    <tbody>
  <tr>
    <th scope="row">Saturday Evenings (4pm - 11pm)</th>
    <td>&pound;95</td>
    <td>&pound;135</td>
  </tr>
  <tr>
    <th scope="row">Saturday All Day (9am - 11pm)</th>
    <td>&pound;190</td>
    <td>&pound;260</td>
  </tr>
  <tr>
    <th scope="row">Hourly rate (Sunday - Friday and Saturday Daytime up to 4 hours)</th>
    <td>&pound;12</td>
    <td>&pound;17</td>
  </tr>
    <tbody>
</table>
<p>Our Summer rate applies from May to October and Winter rate from November to April unless alternative arrangements are made at time of booking. The Winter rate includes use of the hall's electric heating. <a href="/contact/">To book contact one of our Bookings Secretaries</a>.</p>
{# <p>Charges are £12 per hour in Summer, £22 in Winter; Saturday evenings (4-11) £95 in Summer, £175 in Winter; all day Saturday £190 in Summer, £330 in Winter. Our Summer rate applies from May to October and Winter rate from November to April unless alternative arrangements are made at time of booking. The Winter rate includes use of the hall's electric heating. <a href="/contact/">To book contact one of our Bookings Secretaries</a>.</p> #}
<h3>Dimensions</h3>
  <ul class="dimensions">
    <li><strong>Hall:</strong> 11m 60cm x 6m 43cm</li>
    <li><strong>Height:</strong> minimum 2m 45cm rising to 3m 50cm in centre</li>
    <li><strong>Stage:</strong> 4m 78cm x 2m 35cm</li>
    <li><strong>Meeting Room:</strong> 4m 47cm x 2m 40cm</li>
  </ul>
</div>
</div>
<h2>Hiring Documents</h2>
<ul>
{# <li><a href="/assets/files/AVH-COVIDSpecialConditionspackv2.pdf" target="_blank">Download COVID Special Conditions Pack - Updated July 2021</a></li> #}
<li><a href="/assets/files/Ash-VillageHallStandardConditionsOfHireVersion3.pdf" target="_blank">Download Standard Conditions of Hire</a></li>
<li><a href="/assets/files/Ash-VillageHallHiringAgreementVersion3.pdf" target="_blank">Download Hiring Agreement</a></li>
<li><a href="/assets/files/Ash-VillageHallKeepingSafe.pdf" target="_blank">Hirer guidance for keeping safe</a></li>
<li><a href="/assets/files/Ash-VillageHallInformationAmenitiesVersion3.pdf" target="_blank">Download Information and Amenities document</a></li>
</ul>
</div>
</div>