---
layout: layout.njk
pageTitle: For Hire
---
<div class="page-section wrapper">
<div class="page-section__content">
<h1>For Hire</h1>
<div class="row">
<div class="row__col row__lcol">
<amp-img
  src="img/stage-avh.jpg"
  alt="Ash Village Hall stage"
  width="400"
  height="400"
  layout="responsive"
  class="row__img"
></amp-img>
</div>
<div class="row__col row__rcol">
<p>Ash Village Hall is available for private hire for family gatherings etc. but not for teenage parties. For legal and safety reasons the entire site is a No Smoking site and the building does not have a Public Entertainment or licence to sell alcohol. Temporary Event Notice (TEN) for sale of alcohol on the premises must be obtained by the hirer from <a href="https://www.sevenoaks.gov.uk" target="_blank">Sevenoaks District Council Licensing Department</a>.</p>

<p>Charges are £12 per hour in Summer, £17 in Winter; Saturday evenings (4-11) £95 in Summer, £135 in Winter; all day Saturday £190 in Summer, £260 in Winter. Our Summer rate applies from May to October and Winter rate from November to April unless alternative arrangements are made at time of booking. The Winter rate includes use of the hall's electric heating. <a href="/contact/">To book contact one of our Bookings Secretaries</a>.</p>
</div>
</div>
<h2>Hiring Documents</h2>
<ul>
<li><a href="/assets/files/AVH-COVIDSpecialConditionspackv1.pdf" target="_blank">Download COVID Special Conditions Pack</a></li>
<li><a href="/assets/files/Ash-VillageHallStandardConditionsOfHireVersion3.pdf" target="_blank">Download Standard Conditions of Hire</a></li>
<li><a href="/assets/files/Ash-VillageHallHiringAgreementVersion3.pdf" target="_blank">Download Hiring Agreement</a></li>
<li><a href="/assets/files/Ash-VillageHallInformationAmenitiesVersion3.pdf" target="_blank">Download Information and Amenities document</a></li>
</ul>
<p>As Covid-19 restrictions have started to ease, we have received enquiries about hiring the hall for social gatherings and parties. Unfortunately, the simple answer is social gatherings inside the hall are still limited to 6 people or 2 households. For a longer answer, including details of exemptions for weddings and funerals from 21<sup>st</sup> June, please see the following document:</p>
</div>
</div>