---
layout: layout.njk
pageTitle: Home
---

<div class="large-hero wrapper">
<amp-img src="img/avh-outside-front-hero.jpg" width="320" height="80" layout="responsive" alt="Outside Ash Village Hall" class="large-hero__img"></amp-img>
<h1 class="large-hero__headline">Ash Village Hall</h1>
<h2 class="large-hero__sub">A traditional village hall available for hire in the heart of Ash, Kent</h2>
</div>

<section class="page-section wrapper">
<div class="row">
<div class="row__col row__lcol">
<amp-img
  src="img/inside-avh.jpg"
  alt="Inside Ash Village Hall"
  width="400"
  height="400"
  layout="responsive"
  class="row__img"
></amp-img>
</div>
<div class="row__col row__rcol">
<p>Situated in the heart of the village of Ash, near Wrotham, Ash Village Hall is a picturesque building serving the residents of Ash and the nearby villages of New Ash Green, Ridley, Fawkham and Hodsoll Street. The hall is used on a regular basis by a number of community groups and is also available for private hire by individuals for children's parties, christening parties, wedding receptions, family celebrations and funeral teas.</p>
<p>Facilities include the main hall with stage, a secondary room, kitchen (with cooker and fridge), toilets (including disabled facilities), an enclosed garden and level access to the building. There are tables and chairs available to seat over 100 people.</p>
<p>The hall is a registered charity and is run as a non profit organisation for the benefit of the local communities by a group of dedicated local individuals and regular hall users.</p></div>
</div>
</section>

<div class="large-hero wrapper">
<a href="https://www.curzoncountrycinema.com/elvis/" target="_blank"><amp-img src="img/ccc-elvis.jpg" width="300" height="100" layout="responsive" alt="Elvis - 12A - Wednesday 23rd November, Doors Open 18.45 for 19.00, All Seats £7. Book Online: CurzonCountryCinema.com" class="large-hero__img"></amp-img></a></div>
