---
layout: layout.njk
pageTitle: Home page
---

<div class="large-hero">
<amp-img src="img/avh-outside-front-hero.jpg" width="1600" height="400" layout="responsive" alt="Outside Ash Village Hall" class="large-hero__img"></amp-img>
<h1 class="large-hero__headline">Ash Village Hall</h1>
<h2 class="large-hero__sub">A traditional village hall available for hire in the heart of Ash, Kent</h2>
</div>

<section class="page-section">

<img
  src="img/inside-avh.jpg"
  alt="<span>Inside Ash Village Hall</span>"
  width="400"
  height="400"
  class="mainImage"
/>
<p>Situated in the heart of the village of Ash, near Wrotham, Ash Village Hall is a picturesque building serving the residents of Ash and the nearby villages of New Ash Green, Ridley, Fawkham and Hodsoll Street. The hall is used on a regular basis by a number of community groups and is also available for private hire by individuals for children's parties, christening parties, wedding receptions, family celebrations and funeral teas.</p>
</section>