---
layout: layout.njk
pageTitle: Home
---
<div class="page-section wrapper">
<div class="page-section__content">
<h1>Information</h1>
<p>The village hall is located on the Street in the centre of the village of Ash beside the War Memorial.</p>
<p>There is a free car park available adjacent to the hall for hirers.</p>
<amp-iframe width="425" height="350" layout="responsive" sandbox="allow-scripts" src="https://www.openstreetmap.org/export/embed.html?bbox=0.2886593341827393%2C51.35372670263998%2C0.301426649093628%2C51.358644437944484&amp;layer=mapnik" style="border: 1px solid black">
<amp-img layout="fill" src="../img/map.png" placeholder></amp-img>
</amp-iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/51.35619/0.29504">View Larger Map</a></small>
</div>
</div>