---
layout: layout.njk
pageTitle: Links
---
<div class="page-section wrapper">
<div class="page-section__content">
<h1>Links</h1>
<p>The following links are provided for your convenience. The websites have no connection with Ash Village Hall and we accept no responsibility for the content of the external sites.</p>
<h2>Kent Tourist Information</h2>
<ul>
<li><a href="https://explorekent.org/" target="_blank">Explore Kent</a></li>
<li><a href="https://www.kentdowns.org.uk/" target="_blank">Kent Downs - an area of outstanding natural beauty</a></li>
<li><a href="https://www.visitsoutheastengland.com/" target="_blank">The official South East England tourist board</a></li>
</ul>
<h2>Local Government</h2>
<ul>
<li><a href="https://www.hugofox.com/community/ash-cum-ridley-parish-council-12628/" target="_blank">Ash-cum-Ridley Parish Council</a></li>
<li><a href="https://www.sevenoaks.gov.uk/" target="_blank">Sevenoaks District Council</a></li>
<li><a href="https://www.kent.gov.uk/" target="_blank">Kent County Council</a></li>
</ul>
</div>
</div>