---
layout: layout.njk
pageTitle: Links
---
<div class="page-section wrapper">
<div class="page-section__content">
<h1>Links</h1>
<p>The following links are provided for your convenience. The websites have no connection with Ash Village Hall and we accept no responsibility for the content of the external sites.</p>
<h2>Kent Tourist Information</h2>
<ul>
<li><a href="https://explorekent.org/" target="_blank">Explore Kent</a></li>
<li><a href="https://www.kentdowns.org.uk/" target="_blank">Kent Downs - an area of outstanding natural beauty</a></li>
<li><a href="https://www.visitsoutheastengland.com/" target="_blank">The official South East England tourist board</a></li>
</ul>
<h2>Local Government</h2>
<ul>
<li><a href="https://www.hugofox.com/community/ash-cum-ridley-parish-council-12628/" target="_blank">Ash-cum-Ridley Parish Council</a></li>
<li><a href="https://www.sevenoaks.gov.uk/" target="_blank">Sevenoaks District Council</a></li>
<li><a href="https://www.kent.gov.uk/" target="_blank">Kent County Council</a></li>
</ul>
</div>
<div class="row">
<div class="row__col row__lcol">
<h2>Energy</h2>
<p>Our electricity is 100% renewable. It is generated at Natewood Solar Farm, near Hailsham, and supplied by <a href="https://share.octopus.energy/alive-ape-413" target="_blank">Octopus Energy</a>. Use the link below to see if you can save money and the environment by switching to Octopus Energy. By using the referal link, Octopus Energy will credit £50 to your account and also contribute £50 towards the hall's electricity bill.</p>
<ul>
<li><a href="https://share.octopus.energy/alive-ape-413" target="_blank">Free £50 credit by switching to Octopus Energy</a></li>
</ul>
</div>
<div class="row__col row__rcol">
<a href="https://share.octopus.energy/alive-ape-413" target="_blank">
<amp-img
  src="img/constantine-green.png"
  alt="Constantine - 100% Green"
  width="400"
  height="400"
  layout="responsive"
  class="row__img">
</amp-img>
</a>
</div>
</div>
</div>